#!/bin/bash

set -e -o pipefail

DOWNLOAD_TF_URL="https://releases.hashicorp.com/terraform/0.12.24/terraform_0.12.24_linux_amd64.zip"
apt-get update -y
apt-get install -y unzip

cd /tmp
curl -sLfO "$DOWNLOAD_TF_URL"
unzip "terraform_0.12.24_linux_amd64.zip"
mv terraform /usr/local/bin/terraform