#!/bin/bash

set -e -o pipefail

DOWNLOAD_TF_URL="https://releases.hashicorp.com/terraform/0.12.24/terraform_0.12.24_linux_amd64.zip"
DOWNLOAD_VAULT_URL="https://releases.hashicorp.com/vault/1.3.4/vault_1.3.4_linux_amd64.zip"
apt-get update -y
apt-get install -y unzip git

cd /tmp
curl -sLfO "$DOWNLOAD_TF_URL"
unzip "terraform_0.12.24_linux_amd64.zip"
mv terraform /usr/local/bin

curl -sLfO "$DOWNLOAD_VAULT_URL"
unzip "vault_1.3.4_linux_amd64.zip"
mv vault /usr/local/bin