#!/bin/bash

DOWNLOAD_VAULT_URL="https://releases.hashicorp.com/vault/1.3.4/vault_1.3.4_linux_amd64.zip"
sudo apt-get update -y
sudo apt-get install -y apache2 unzip
echo -e "VAULT_TOKEN=${vault_token}" >> /etc/environment
echo -e "VAULT_ADDR=${vault_addr}" >> /etc/environment
echo "<!doctype html><html><body><h1>VAULT_TOKEN=${vault_token}</h1></body></html>" | sudo tee /var/www/html/index.html

cd /tmp
curl -sLfO "$DOWNLOAD_VAULT_URL"
unzip "vault_1.3.4_linux_amd64.zip"
mv vault /usr/local/bin