#!/bin/bash

sudo apt-get update -y
sudo apt-get install -y apache2
echo -e "VAULT_TOKEN=${vault_token}" >> /etc/environment
echo "<!doctype html><html><body><h1>ROLE_ID=${role_id}<br>SECRET_ID=${secret_id}<br>VAULT_TOKEN=${vault_token}</h1></body></html>" | sudo tee /var/www/html/index.html